<div id="street_form">
   <h3>Add Street</h3>
   <%= form_for :street, url: new_street_path, remote: true do |s| %>
   <%= s.text_field :name, placeholder: 'Street name'%>
   <h4>Borough</h4>
   <%= select(:street, :borough, [['Brooklyn', 'Brooklyn'], ['Queens', 'Queens'],['Manhattan', 'manhattan'], ['Staten Island', 'Staten Island'], ['Bronx', 'Bronx']]) %>
   <h4>Left Side</h4>
   <%= select(:street, :left_side, [['Mon', 'Mon'],['Tues', 'Tues'],['Wed', 'Wed'],['Th', 'Th'],['F', 'F'],['Sat', 'Sat'],['Sun', 'Sun']]) %> 
   <h4>Right Side</h4>
   <%= select(:street, :right_side, [['Mon', 'Mon'],['Tues', 'Tues'],['Wed', 'Wed'],['Th', 'Th'],['F', 'F'],['Sat', 'Sat'],['Sun', 'Sun']]) %> 
   <h4>Start Time</h4>
   <%= s.time_select :start_time %>
   <h4>End Time</h4>
   <%= s.time_select :end_time %>
   <br>
   <br>
   <%= s.submit 'Create', class: 'btn btn-primary' %>
   <% end %>
</div>