<h4>Search for streets</h4>
<div id="search_form">
	<%= form_tag streets_search_path, method: 'get', remote: true do %>
		<p>
			<%= text_field_tag :search, params[:search], placeholder: "Search Streets" %>
			<%= submit_tag "Search", :name => nil %>
		</p>
	<% end %>
</div>