<% if params[:search]%>
	<ul class="list-group">
		<% @streets.each do |street| %>
		<li class="list-group-item">Street Name:<%= street.name %></li>
		<li class="list-group-item">Borough:<%= street.borough %></li>
		<li class="list-group-item">Left Side Days:<%= street.left_side %></li>
		<li class="list-group-item">Right Side Days:<%= street.right_side %></li>
		<li class="list-group-item">Start Time:<%= street.start_time.strftime("%l"":""%M") %></li>
		<li class="list-group-item">End Time:<%= street.end_time.strftime("%l"":""%M") %></li>
	</ul>
	<% end %>
<% end %>


