<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--   <#%= image_tag ('cars_night.jpg') %>
 --></head>
<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-xs-4 street-form">
      <span class ="street-form"><%= render 'partials/create_street_form',remote: true%></span>
      <br>
      </div>
     <div class="col-md-2 search-form">
        <span class ="search-form"><%= render 'partials/search_form', remote: true%></span>
        <span class ="searched-streets"><%= render 'partials/searched_streets', remote: true%></span>
    </div>
  </div>
</div>  
</body>
</html>
